# Database URL Format (PostgreSQL)
# DATABASE_URL="postgresql://user:password@localhost:5432/rplibrary"
DATABASE_URL="postgresql://root:root@localhost:5432/rplibrary"

# JWT Secret
JWT_SECRET="your_jwt_secret_key"
PORT=3000
